.signup_address
  .step5__bottom_contents
    .step5__bottom_contents__top
      %h2.top_string 会員登録完了
    .step5__bottom_contents__bottom
      .step5__bottom_contents__bottom__box
        .step5__bottom_contents__bottom__box__top
          .step5__bottom_contents__bottom__box__top__title
            ありがとうございます。
            %br 会員登録が完了しました。