.contents
  .signup-header
    %h1
      =link_to image_tag("logo.png"),"/"
    .signup-bar
  .main
    .box
      %h2.box-header
        電話番号の確認
      .box-form
        = form_for(@user, url: users_signup_address_path, html: {method: :"post"}) do |f|
          .box-form__content
            .box-form__content__input
              %label 携帯電話の番号
              = f.telephone_field :tel, placeholder: '携帯電話の番号を入力', class: "form__input"
              .box-form__content__input__message
                %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .signup
            = f.submit "SMSを送信する", class:'signup__btn'
            .box-form__content__bottom_contents
              %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .box-form__content__bottom_right
              = link_to "#", class: "most_bottom_link" do
                %p.most_bottom_link 電話番号の確認が必要な理由 >