.wrapper
  = render 'toppages/header'

  .main
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            %h2.itemBox__name product3
            .itemBox__body
              %ul
                %li
                  =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png")
                %ul
                  %li
                    =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png")
                  %li
                    =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png")
                  %li
                    =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png")

            .itemBox_price
            .itemDetail 
            .table
              %table
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td 
                    =link_to "べビー・キッズ","/"
                    %br
                    =link_to "べビー服（男女兼用）~９５cm","/"
                    %br
                    =link_to "アウター","/"
                %tr
                  %th ブランド
                  %td 
                %tr
                  %th 商品サイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 配送元の地域
                  %td
                    =link_to "岩手県","/"
                %tr
                  %th 配送日の目安
                  %td 4-7日で発送
            .optionalArea
          .conmmentBox
        %ul.links

        .relatedItems          

  = render 'toppages/footer'