.wrapper
  = render 'toppage/header'

  .main
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            %h2.itemBox__name product3
            .itemBox__body
            .itemBox_price
            .itemDetail 
            .table
            .optionalArea
          .conmmentBox
        %ul.links

        .relatedItems          

  = render 'toppage/footer'