%main.logout
  .logout-contents
    .logout-contents__box
      .logout-contents__box__red
        .logout-contents__box__red__btn
          %button.logout-contents__box__red__btn__submit
            = link_to "ログアウト", destroy_user_session_path, method: :delete