.item-container {
    height: 100%;
    background-color: #f8f8f8;
}
.item-head {
    display: block;
    height: 128px;
    padding: 30px;
    // ヘッダー
    &__header {
        font-size: 24px;
        text-align: center;
        align-items: center;
    }
}
.item-main {
    background: #fff;
    margin: 0 auto;
    width: 700px;

    &__form form {
        display: block;
        border: 1px solid #eee;
        padding: 0 40px 64px;
    }
    .upload-box {
        padding: 40px;
        vertical-align: baseline;
        margin: 0;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        .item-main__header {
            display: flex;
            align-items: center;
            .subtitle {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4em;
            }
        }
        &__text {
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
        }
        &__content {
            margin-top: 16px;
            &-items {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                min-height: 162px;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                position: relative;
                border-width: 1px;
                border-style: dashed;
                border-color: rgb(204,204,204);
                background-color: #F5F5F5;
                border-image: initial;
                transition: all 0.5s ease-out 0s;
                .file {
                    display: none;
                }
                .fa-camera {
                    font-size: 12px;
                    text-align: center;
                    line-height: 1.4em;
                    width: 24px;
                    height: 24px;
                }
                &_text {
                    font-size: 12px;
                    line-height: 1.4em;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    &__content {
        padding: 40px;
        &-form-group {
            align-items: center;
            width: 100%;
            margin-top: 32px;
            // display: inline-flex;"
            .input-default {
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: inherit;
                font-size: inherit;
                height: 48px;
                margin: 0;
                outline: 0;
                padding: 0 16px;
                width: 100%;
            }
            .textarea-default {
                width: 100%;
                margin-top: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                color: #222;
                font-size: 16px;
                margin: 0;
                outline: none;
                padding: 13px 16px;
                resize: vertical;
                vertical-align: middle;
                height: 181px;
            }
        }
        &-head {
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
        }
        &-select {
            margin-top: 16px;
            width: 100%;
            &-default {
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                color: #222;
                font-size: 16px;
                height: 48px;
                line-height: 1px;
                margin: 0;
                outline: none;
                padding: 0 56px 0 16px;
                width: 100%;
            }
        }
        .content-price {
            padding-bottom: 12px;
            &__left {
                margin-right: 80px;
                white-space: nowrap;
                width: 30%;
            }
            &__center {
                font-size: 14px;
                margin-right: 8px;
            }
            &__input {
                text-align: right;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                height: 48px;
                margin: 0;
                outline: none;
                padding: 0 16px;
                width: 60%;
            }
        }
        .box {
            padding: 12px 0;
            display: flex;
            &__left {
                margin-right: auto;
                font: inherit;
                white-space: nowrap;
            }
            &__right {
                font-size: 14px;
                font: inherit;
            }
        }
        .btn-box {
            margin-bottom: 32px;
            width: 360px;
            margin: 0 auto 24px;
            &__red {
                background-color: red;
                color: white;
                width: 100%;
                margin-bottom: 24px;
                font-size: 17px;
                min-height: 48px;
                font-weight: bold;;
                border-radius: 4px;
            }
            &__gray {
                display: block;
                width: 100%;
                background-color:#ccc;
                border-color: transparent;
                color: #222;
                text-align: center;
                padding: 14px 24px;
                font-weight: bold;
                text-decoration: none;
                font-size: 17px;
                min-height: 48px;
                border-radius: 4px;
            }
        }
    }
    label {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .form-require {
        background-color: red;
        color: white;
        margin-left: 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
    }
    .form-elective {
        background-color: gray;
        color: white;
        margin-left: 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
    }
}