= render "toppages/header"
.my-all
  .my-contents
    = render "mypages/my-side"
    .my-logout
      .my-logout__btn
        = link_to logout_users_path, method: 'delete', class: "logout-btn" do
          ログアウト
.footer
  = render "toppages/footer"