
.footer {
  background-color: #272727;
  color:#fff;
  padding: 60px 0;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    background-color: #272727;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      li a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  p {
    font-size: 14px;
  }
}

// フッターロゴ
.footer__logos {
  max-width: 160px;
  width: 100px;
  margin: 0 auto;
}

// 出品ボタン
.exhibitionBtn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position:fixed;
  padding: 15px;
  opacity: 1;
  &__text {

    span {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
}
.exhibitionBtn:hover {
  opacity: 0.5;
}