.contents { 
  background-color: #f8f8f8;
  // ヘッダー
  .signup-header {
    text-align: center;
    padding: 20px;
    img {
      width: 185px;
      height: 49px;
    }
  }
  .box {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    // 会員情報入力
    .box-header {
      font-size: 22px;
      padding: 32px;
      font-weight: 600;
    }
    // フォーム全体
    .box-form {
      padding: 0 40px 64px;
      &__content {
        max-width: 345px;
        margin: 0 auto;
        &__input {
          margin-top: 32px;
          &__message {
            margin-top: 8px;
            p {
              line-height: 1.5;
              font-size: 14px;
              text-align: left;
              color: #333;
            }
          }
          &__center {
            margin: 0;
            padding: 0;
            p {
              line-height: 1.5;
              font-size: 14px;
              color: #333;
            }
          }
          // 入力フォーム（リスト）
          &__list {
            display: flex;
            float: left;
            width: 100%;
            margin-bottom: 32px;
            &__name {
              padding-left: 5px;
            }
            // 生年月日
            &__barth {
              display: inline-block;
              position: relative;
            }
            &__info {
              line-height: 1.5;
              margin-top: 8px;
              p {
                color: gray;
                font-size: 14px;
                display: inline-block;
              }
            }
            // 都道府県
            &__prefectures {
              // float: left;
              display: inline-block;
              position: relative;
            }
          }
        }
        // ボタン下のコンテンツ
        &__bottom_contents {
          margin-top: 8px;
          line-height: 1.5;
          p {
            font-size: 14px;
            color: #333;
            text-align: left;
          }
        }
        &__bottom_right {
          margin-top: 24px;
          text-align: right;
          a {
            color: #0099e8;
            text-decoration: none;
            font-size: 14px;

          }

        }
        // 会員登録情報
        label {
          float: left;
          font-weight: 600;
        }
        // 任意
        span.bule {
          color: white;
          background-color: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        // 必須
        span.red {
          float: left;
          color: white;
          background-color: red;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        span.none {
          margin: auto 5px;
        }
        // 入力フォーム
        input {
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin: 8px 0 0;
          }
        }
        // 見出し
        .box-form__description {
          padding-top: 32px;
          font-size: 22px;
          font-weight: 600;
        }
      }
       // 生年月日
       .birthday-select{
        margin-top: 10px;
        p{
          display: inline;
        }
        select{
          height: 46px;
          width: 70px;
          padding: 0 10px;
        }
      }
    }

    // 新規登録ボタン
    .signup {
      height: 100px;
      max-width: 343px;
      margin: 0 auto;
      margin-top: 24px;
      &__btn {
        height: 50px;
        width: 100%;
        font-size: 14px;
        background-color: #3CCACE;
        color: white;
        display: block;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  
  // リスト
  .select {
    -webkit-appearapnce: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 0 40px 0 10px;
    border: 1px solid #b4b3b3;
    border-radius: 2px;
  }
  select::-ms-expand {
    display: none;
  }

  .content-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 0 40px 0 10px;
    border: 1px solid #b4b3b3;
    border-radius: 2px;
    margin-top: 8px;
    &__icon {
      position: relative;
      left: 43%;
      bottom: 25px;
      color: #888;
      font-size: 16px;
    }
  }

  .arrow-icon {
    position: absolute;
    z-index: 2;
    top: 33%;
    right: 5px;
    pointer-events: none;
    color: gray;
  }

}
// フォーム入力エラーのクラス
.inp_error {
  border: 1px;
  solid: #F88A8A;
}
// エラーメッセージのクラス
.error_m {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}
.signup-btn {
  width: 345px;
  height: 48px;
  background-color: #3CCACE;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  margin: 5px auto;
  padding-top: 11px;
  a {
    text-decoration: none;
    display: block;
    height: 100%;
    color: #fff;
  }
}