.step3_1__bottom_contents{
    background-color: #fff;
    width: 50%;
    height: 500px;
    margin: 0 auto;
  
    &__top {
    height: 22%;
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
  
    .top_string {
      margin: 0 auto;
      font-weight: 600;
      color: rgb(51, 51, 51)
    }
   }
  
   &__bottom {
     height: 82%;
     width: 100%;
     padding: 50px 40px 50px;
  
     &__box {
       height: 100%;
       width: 60%;
       margin: 0 auto;
  
       &__phone_num {
         height: 10%;
         width: 100%;
         font-weight: 600;
         font-size: 15px;
       }
  
       &__input {
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
  
        .placeholder {
          color: #888;
        }
       }
  
       &__text {
        font-size: 15px;
        padding: 8px 0 0 0;
        color: rgb(51, 51, 51)
       }
  
       &__submit_sms {
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        transition: all ease-out .3s;
        margin: 32px auto 10px;
       }
  
       &__submit_bottom {
        font-size: 14px;
        color: rgb(51, 51, 51)
       }
  
       &__most_bottom {
         font-size: 13px;
         color: rgb(0, 149, 238);
         display: flex;
         justify-content: flex-end;
         margin-top: 28px;
  
         .most_bottom_link {
           text-decoration: none;
           color: rgb(0, 149, 238);
         }
       }
     }
   }
  }
  
  .progress-bar2 {
    background: #f5f5f5;
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
  }
  .progress-bar2__active {
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    &__status {
      background: #ea352d;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ea352d;
        }
    }
    &__phone-number {
      font-weight: 600;
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #ea352d;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__phone-number { 
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ea352d;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ea352d;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
    &__address {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__address {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
    &__payment {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__payment {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
    &__complete {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
    }
    &__status__complete {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    } 
  }